########################################################
#http://www.hamariweb.com/
########################################################

@IF(@PARAM1@!=CATCH)@

start=http://www.hamariweb.com/tv/

item_infos=<td align="center">\s*<a title='([^']+)' class="TextClass"\s*href='([^']+)'>\s*<img.*?src='([^']+)'\s*border="0"></a>\s*</td>
item_order=title|link|icon
item_skill=rss

item_info_name=cfg
item_info_build=hamariweb.com.cfg@CATCH

item_info_name=url
item_info_from=link
item_info_build=http://www.hamariweb.com%s
item_url_build=%s

@ENDIF@

@IF(@PARAM1@==CATCH)@

skill=videoTitle

item_infos=EboundPlayer.js\?site=([^"]+)
item_order=file

item_info_name=token
item_info_from=file
item_info_convert=getInfo('http://ebound.tv/EboundServicesPlayer/html/EboundPlayer.php','.*urlsignature":"([^"]*).*','@REFERER@')
item_info_build=%s

item_info_name=swf
item_info_from=file
item_info_build=http://ebound.tv/EboundServicesPlayer/site/%s/EboundServicesPlayer.swf

item_info_name=url
item_info_from=rtmp://cdn.ebound.tv:1935/hamariweb?wmsAuthSign=' + token + ' playpath=hamariweb-' + file + '?wmsAuthSign=' + token + ' swfUrl=' + swf + ' live=true timeout=15 pageUrl=http://www.hamariweb.com
item_info_build=%s

item_info_name=type
item_info_build=video
item_url_build=%s


@ENDIF@
